

    <div>
        <h3>Current weather:</h3>
        <p>Temperature: {{weather.temperature}}</p>
        <p>Feels like: {{weather.feelsLike}}</p>
        <p>Clouds: {{weather.clouds}}</p>
        <p>Wind Speed: {{weather.windSpeed}}</p>
        <p>Wind Direction: {{weather.windDirection}}</p>
        <p>Visibility: {{weather.visibility}}</p>
        <p>Humidity: {{weather.humidity}}</p>
          </div>