



    <h4>Current weather:</h4>
    <p>Clouds: {{weather.clouds}}</p>
    <p>Temperature: {{weather.temperature}}C</p>
    <p>Feels like: {{weather.feelsLike}}C</p>
    <p>Wind Speed: {{weather.windSpeed}}</p>
    <p>Humidity: {{weather.humidity}}%</p>



<!--
    <h3>Current weather:</h3>
    <p>Temperature: {{weather.temperature}}C</p>
    <p>Feels like: {{weather.feelsLike}}C</p>
    <p>Clouds: {{weather.clouds}}</p>
    <p>Wind Speed: {{weather.windSpeed}}</p>
    <p>Wind Direction: {{weather.windDirection}}</p>
    <p>Visibility: {{weather.visibility}}</p>
    <p>Humidity: {{weather.humidity}}</p>
                                            -->