    <div class="uk-margin">
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <h2>{{poi.name}}</h2>
            <p>{{poi.description}}</p>
        </div>
    </div>

    <div>
        <h3>Current weather:</h3>
        <p>Temperature: {{weather.temperature}}</p>
        <p>Feels like: {{weather.feelsLike}}</p>
        <p>Clouds: {{weather.clouds}}</p>
        <p>Wind Speed: {{weather.windSpeed}}</p>
        <p>Wind Direction: {{weather.windDirection}}</p>
        <p>Visibility: {{weather.visibility}}</p>
        <p>Humidity: {{weather.humidity}}</p>
          </div>