<div class="uk-margin uk-width-3xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <table class="uk-table uk-table-hover uk-table-divider">
        <caption>
            Here's what we have so far:
        </caption>
        <thead>
        <th>Name</th>
        <th>Intro</th>
        <th>Image</th>
        <th>Added By</th>
        <th></th>
        </thead>
        <tbody class="uk-text-left">
        {{#each pois}}
           <tr>
               <td><a href="/poi/{{_id}}" >{{name}}</a></td>
               <td><a href="/poi/{{_id}}" >{{descshort}}</a></td>
               <td><a href="/poi/{{_id}}" ><img width="90" src="{{imageurl}}"></a></td>
               <td><a href="/poi/{{_id}}" >{{contributor.firstName}} {{contributor.lastName}}</td>
               <td><a href="/deletepoi/{{_id}}" ><i class="fas fa-trash-alt" style="color:red" title="delete"></i></a></td>
           </tr>
        {{/each}}
        </tbody>
    </table>
</div>
